.main {
  width: 100%;
  padding: 30px 20px;
}
.main .card {
  width: 100%;
  height: auto;
}
.main .overview {
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0;
  padding-left: 30px;
  font-weight: 600;
  padding-top: 10px;
}
.main .widgetcards {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
  padding: 0px 10px 10px 15px;
}
.main .chartcard {
  padding: 10px;
}
.charttitle {
  display: flex;
  justify-content: space-between;
}
.main .chartheading {
  font-size: 20px;
  letter-spacing: 0;
  font-weight: 600;
}
.main .kebab {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 40px;
  font-size: 20px;
  background-color: #f5f6fa;
  border-radius: 3px;
}
.barchartselect {
  display: block;
  min-width: 0;
  width: 230px;
  min-height: 40px;
  margin: 10px 0 10px 0;
  padding: 10px 10px 10px 10px;
  font-size: 16px;
  border: 0;
  color: gray;
  border-radius: 5px;
  font-family: sans-serif;
  background: #f5f6fa;
  outline: none;
  border-right: 16px solid transparent;
}

.main .chart {
  width: 400px;
  min-width: 0;
  height: 300px;
  margin-top: 10px;
}
.main .legend {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 10px;
  margin-top: 20px;
}
.main .legenditem {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.main .btn1 {
  color: rgb(245, 110, 179);
  font-size: 20px;
}
.main .btn2 {
  color: rgb(75, 86, 210);
  font-size: 20px;
}
.main .btn3 {
  color: rgb(244, 157, 26);
  font-size: 20px;
}

.main .legendtitle {
  padding: 0%;
  color: black;
  font-size: 12px;
  font-weight: 400;
}

.chartlayout {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 30px 0px;
  gap: 20px;
}

.biechart {
  flex-grow: 1;
}
.biechartheader {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
  padding: 10px 10px;
}

.biechartdateselect {
  font-size: 16px;
  font-weight: 400;
  padding: 5px 10px;
  outline: none;
  border-radius: 5px;
  border: 2px solid lightgray;
}
.biechartsenderselect {
  background-color: #ececec;
  border: 2px solid lightgray;
  display: block;
  min-width: 150px;
  min-height: 40px;
  margin: 10px 0 10px 0;
  padding: 5px 10px 5px 10px;
  font-size: 16px;
  font-weight: 400;
  border-radius: 5px;
  outline: none;
  border-right: 16px solid transparent;
}

.biechartmain {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 400px) {
  .main {
    padding: 30px 10px;
  }
  .chartlayout {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 30px 0px;
    gap: 20px;
  }

  .main .chart {
    flex-grow: 1;
    width: 250px;
    min-width: 0;
    height: 300px;
    margin-top: 10px;
  }
  .barchart {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
