.main {
  width: 100%;
  padding: 15px 10px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.layout {
  border-radius: 15px;
}
.heading {
  padding: 10px 30px;
}
.h2 {
  font-size: 20px;
  font-weight: 600;
}
.h1 {
  margin: auto;
  font-size: 30px;
  text-align: center;
  color: #3f4254;
}
.content {
  padding: 40px 0px;
}
