.main {
  width: 100%;
  padding: 15px 10px;
}
.userinvitecard {
  margin-top: 30px;
  border-radius: 10px;
  padding: 10px 30px;
}
.userinvitecarttitle {
  font-size: 20px;
  font-weight: 600;
}
.userinviteformdetails {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
  padding: 20px 0px;
}
.userinviteinput {
  padding: 5px 10px;
  min-width: 0px;
  width: 300px;
  height: 40px;
  color: #3f4254;
  font-size: 16px;
  font-weight: 400;
  border-radius: 10px;
  border: 2px solid lightgray;
  outline: none;
}
.userinvitebtn {
  background-color: #ff697c;
  color: #fff;
  font-size: 12px;
  font-weight: 400;
  padding: 8px 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  cursor: pointer;
}
.tablecard {
  margin-top: 20px;
  border-radius: 10px;
  overflow-x: auto;
}
.tablehead {
  padding: 20px 30px;
}
.tabletitle {
  font-size: 20px;
  font-weight: 600;
}
.tabledivider {
  display: block;
  height: 0.2px;
  border: 0;
  border-top: 0.2px solid lightgrey;
}
.tabledetails {
  padding: 0px 0px 40px 0px;
}
.manageusertable {
  width: 100%;
  border-collapse: collapse;
}
.manageusertablehead {
  font-size: 16px;
  font-weight: 400;
  color: #3f4254;
}
.manageusertablebody {
  font-size: 14px;
  font-weight: 400;
  color: #7e8299;
}
.manageusertable td,
th {
  text-align: left;
  padding: 20px 30px;
  border-bottom: 1px solid #dee2e6;
}
.manageusertable td:nth-child(4) {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
.manageusertable th:nth-child(4) {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
.manageusertable th:nth-child(5) {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
.manageusertable td:nth-child(5) {
  text-align: center;
  padding-left: 0px;
  padding-right: 0px;
}
.manageusertablehead tr {
  background-color: #f8f9fa;
}
.manageusertable .manageusertablebody span {
  background-color: #e8fff3;
  padding: 5px 10px;
  border-radius: 5px;
  color: #50cd89;
}
.manageusertable .manageusertablebody select {
  padding: 5px 15px;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: #f5f8fa;
  color: #7e8299;
  border-right: 10px solid transparent;
}
/***pagination
  
  .container {
    padding: 20px;
  }
  .pagination {
    display: flex;
    list-style: none;
  }
  .pagination li {
    background: #f8f9fa;
    text-align: center;
    margin: 0px 5px;
    padding: 5px;
  }
  .pagination li a {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: #4d3252;
    width: 30px;
    height: 40px;
    line-height: 40px;
  }
  .pagination li:first-child a {
    width: 120px;
  }
  .pagination li:last-child a {
    width: 100px;
  }
  .pagination li.active {
    box-shadow: inset -3px -3px 7px #ffffff73,
      inset 3px 3px 5px rgba(94, 104, 121, 0.288);
  }
  .pagination li.active a {
    font-size: 17px;
    color: #6f6cde;
  }
  .pagination li:first-child {
    margin: 0 15px 0 0;
  }
  .pagination li:last-child {
    margin: 0 0 0 15px;
  }
  ****/
